body {
    margin: 2vw 7vw;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}



/* HEADER *******************************************/
header {
    background-color: mediumspringgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}
#my_icon_img {
    height: 50px;
    border-radius: 50%;
}
header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}
header ul li a {
    text-decoration: none;
    color: black;
}
header ul li a:hover {
    color: rgb(51, 51, 51);
}



/* ABOUT *******************************************/
#about {
    background-color: lightseagreen;
}



/* SKILLS *******************************************/
#skills {
    background-color: darkolivegreen;
}



/* EXPERIENCE *******************************************/
#experience {
    background-color: tomato;
}



/* PROJECTS *******************************************/
#projects {
    background-color: goldenrod;
}



/* HOBBYS *******************************************/
#hobbys {
    background-color: med;
}



/* CONTACT *******************************************/
#contact {
    background-color: mediumpurple;
}